<div id="subtitles_search">
  <%= form_tag home_path, :method => :get do %>
    <%= search_field_tag :q, params[:q] %>
    <%= submit_tag "Buscar", :name => nil %>
  <% end %>
</div>

<div id="subtitles">
  <% if notice %>
    <div class="notice"><%= notice %></div>
  <% end %>
  
  <% if @subtitles.present? %>
    <%= render @subtitles %>
  <% end %>

</div>
