<div id="subtitles_search">
  <%= form_tag home_path, :method => :get do %>
    <%= text_field_tag :q, params[:q], {:maxlength => 45, :autocomplete => 'off'} %>
    <%= submit_tag '', :name => nil %>
  <% end %>

  <div id="search_terms">
    <% if !@search_terms.nil? %>
      <% @search_terms.each do |term| %>
        <div class="search_term">
          <%= link_to term, {:controller => 'home', :action => 'index', :q => term}, {:name => 'search_term_link', :charset => 'UTF-8'} %>
          <img src="assets/remove_buttom.png" class="remove_search_term_buttom"/>
          <%# form_tag({:controller => 'home', :action => "remove_search_term"}, {:remote => true, :class => "remove_search_term_buttom"}) do %>
            <%# hidden_field_tag 'term_to_remove', term %>
            <%# image_submit_tag "remove_buttom.png" %> 
          <%# end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<div id="subtitles">
  <% if notice %>
    <div class="notice"><%= notice %></div>
  <% end %>


  <% if @subtitles.present? %>
    <%= render @subtitles %>
  <% end %>

</div>

<div id="transparent_gradient_bottom"></div>


<%= link_to "Baixar", {:controller => :subtitles, :action => :download}, {:id => 'download_bt', :title => 'Baixar todas as legendas selecionadas'} %>

<div id="unselect_all" title="Desmarcar todas as legendas selecionadas">
  <span>x</span>
</div>
