<div id="subtitles_search">
  <%= form_tag home_path, :method => :get do %>
    <%= search_field_tag :q, params[:q], :maxlength => 45 %>
    <%= submit_tag "Buscar", :name => nil %>
  <% end %>

  <div id="search_terms">
    <% if !@search_terms.nil? %>
      <% @search_terms.each do |q| %>
        <%= link_to q, {:controller => 'home', :action => 'index', :q => q} %>
      <% end %>
    <% end %>
  </div>
</div>


<div id="subtitles">
  <% if notice %>
    <div class="notice"><%= notice %></div>
  <% end %>


  <% if @subtitles.present? %>
    <%= render @subtitles %>
  <% end %>

</div>

<div id="transparent_gradient_bottom"></div>


<%= link_to "Baixar", {:controller => :subtitles, :action => :download}, {:id => 'download_bt', :title => 'Baixar todas as legendas selecionadas'} %>

<div id="unselect_all" title="Desmarcar todas as legendas selecionadas">
  <span>x</span>
</div>
