<div id="subtitles_search">
  <%= form_tag home_path, :method => :get do %>
    <%= search_field_tag :q, params[:q], :size => 30 %>
    <%= submit_tag "Buscar", :name => nil %>
  <% end %>
</div>

<% if notice %>
  <div id="notice"><%= notice %></div>
<% end %>


<div id="subtitles">
  <% if @subtitles.present? %>
    <%= render :partial => 'subtitles/subtitle', :collection => @subtitles %>
  <% end %>
</div>
