<div id="subtitles_search">
  <%= form_tag home_path, :method => :get do %>
    <%= search_field_tag :q, params[:q] %>
    <%= submit_tag "Buscar", :name => nil %>
  <% end %>
</div>

<div id="subtitles">
  <% if notice %>
    <div class="notice"><%= notice %></div>
  <% end %>
  
    
  <% if @subtitles.present? %>
    <%= render @subtitles %>
  <% end %>

  <%= link_to "Baixar", {:controller => :subtitles, :action => :download}, {:id => 'download_bt', :title => 'Baixar todas as legendas selecionadas'} %>

  <div id="unselect_all" title="Desmarcar todas as legendas selecionadas">
    <span>x</span>
  </div>

</div>
